/***活动列表样式**/
$path :../../../www/;
.activityContainer{
    width:270px;
    height: 240px;
    float: left;
    margin-right: 20px;
    padding: 10px ;
    background: #4F137B;
    overflow: hidden;
    margin-top: 20px;
}
.activityRich{
    margin-right: 0px;
}
.rankItem {
    border-bottom: 1px dotted #361D49;
    padding: 10px 0;
    font-size: 12px;
    text-align: left;
    font-weight: 500;

    span {
        display: inline-block;
    }
}
.rankItemNumOne{
    width:18px;
    height: 15px;
    background: url($(path)images/header.png) no-repeat 0px -110px;
    font-size: 12px;
    margin-right:5px;
    line-height: 17px;
    text-align: center;
    vertical-align: middle;
}
.rankItemName{
    vertical-align: middle;
    width: 120px;
    margin-left: 5px;
}
.rankItemMoney{
    width: 80px;
    text-align: right;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.rankItemDiamond{
    width: 20px;
    height: 13px;
    background: url($(path)images/header.png) no-repeat -14px -72px;
    vertical-align: middle;
}
.rankItemNumTwo,.rankItemNumThree,.rankItemNumFour{
    width: 18px;
    height: 18px;
    background: #FF9B27;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 17px;
    margin-right: 5px;
}
.rankItemNumThree{
    background: #FF6D27;
}
.rankItemNumFour{
    background: #6A586D;
}


