@import "../../../www/style/common.css";
$path :../../../www/;

:global .chat-container {
    height: 100%;
    margin-left: 641px;
    margin-right: 254px;
    box-sizing:border-box;
    position: relative;
    background-image: url($(path)images/black-bg.png);
}

/*.coreChat{*/
    /*height: 115px;*/
    /*width: 315px;*/
    /*box-sizing: border-box;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*@extend .scrollbar;*/
/*}*/