{% extends "layout.html.twig" %}

{% block title %}安全邮箱验证失败{% endblock %}

{% block head %}
    <script type="text/javascript">
        cross.importFile("mailCss", "css");
    </script>
{% endblock %}

{% block content %}
    
<div class="inx-section">
    <!-- 页面内容 -->
    <div class="container">
        <div class="mail">
            <div class="mail-head">安全邮箱验证</div>
            <form action="" class="m-form" onSubmit="return false">
                <div class="m-form-item clearfix">
                    <div class="mail-icon mail-icon-fail"></div>
                    <div class="mail-content">
                        <p class="mail-warn">{{ error }}</p>
                    </div>
                </div>
                <div class="m-form-item mail-btn-box">
                    <a href="/" class="btn btn-center">返 回 首 页</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        cross.importFile("mailJs", "js");
    </script>
{% endblock %}