{% extends "layout.html.twig" %}

{% block title %}安全邮箱验证成功{% endblock %}

{% block head %}
    <script type="text/javascript">
        cross.importFile("mailCss", "css");
    </script>
{% endblock %}

{% block content %}
<div class="inx-section">
    <div class="container">
        <div class="mail">
            <div class="mail-head tc c-red">安全邮箱验证成功！</div>
            <form action="" class="m-form" onSubmit="return false">
                <div class="m-form-item clearfix">
                    <div class="mail-icon mail-icon-suc"></div>
                    <div class="mail-content">
                        <p>恭喜您！您的邮箱<span class="c-green">{{ email }}</span>已验证成功。</p>
                    </div>

                </div>
                <div class="m-form-item mail-btn-box">
                    <a class="btn btn-orange" href="/">返 回 首 页</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        cross.importFile("mailJs", "js");
    </script>
{% endblock %}
