.carousel{
    position: absolute;
    max-height: 660px;
    z-index: 500;
    left: 50%;
    margin-left: -166px;
}

:global(.example-enter){
    opacity: 0.01;
    display: block!important;
}

:global(.example-enter.example-enter-active){
    -webkit-animation: moveIn 4s infinite; /* Safari 4.0 - 8.0 */
    animation: moveIn 4s infinite;
}

:global(.example-leave){
    opacity: 1;
}

:global(.example-leave.example-leave-active){
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

@keyframes moveIn{
    0% {
        opacity: 0.01;
        height: 0px;
        transform:translateY(20px);
        -webkit-transform:translateY(20px);
    }
    10%{
        opacity: 1;
        height: 59px;
        transform:translateY(0px);
        -webkit-transform:translateY(0px);
    }

    90%{
        opacity: 1;
        height: 59px;
    }
    100% {
        opacity: 0.01;
        height: 0px;
    }
}