$path :../../../www/;

.container {
    width: 100%;
    height: 59px;
    font-size: 18px;
    text-align: center;
    background-image: url($(path)images/top-bg.png);
    border-bottom: 1px solid #461572;
    box-sizing: border-box;
    position:relative;
    z-index: 5;
    overflow: hidden;
}

.header{
    height: 100%;
    line-height: 100%;
    margin-left: 56px;
    margin-right: 56px;
    font-size: 14px;
    min-width: 1200px;
}

.headerLogo{
    float:left;
    display: block;
    width:78px;
    height: 33px;
    background-image: url($(path)images/header.png);
    background-repeat: no-repeat;
    margin-top: 13px;
}
.headerDetail{
    float: left;
    position: relative;
    width: 700px;
    margin: 15px 0px 0px 21px;
}

.gradient,
.spotlight{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 10;
}

.gradient{
    background: -webkit-linear-gradient(45deg, red, blue);
    background: linear-gradient(45deg, red, blue);
    mix-blend-mode: hue;
}

.spotlight{
    -webkit-animation: light 5s infinite linear;
    animation: light 5s infinite linear;
    background: -webkit-radial-gradient(circle, #ffffff, rgba(0, 0, 0, 0) 25%) 0 0/25% 25%, -webkit-radial-gradient(circle, #ffffff, #000000 25%) 50% 50%/12.5% 12.5%;
    background: radial-gradient(circle, #ffffff, rgba(0, 0, 0, 0) 25%) 0 0/25% 25%, radial-gradient(circle, #ffffff, #000000 25%) 50% 50%/12.5% 12.5%;
    top: -100%;
    left: -100%;
    mix-blend-mode: color-dodge;
}

@-webkit-keyframes light {
    100% {
        -webkit-transform: translate3d(50%, 50%, 0);
        transform: translate3d(50%, 50%, 0);
    }
}

@keyframes light {
    100% {
        -webkit-transform: translate3d(50%, 50%, 0);
        transform: translate3d(50%, 50%, 0);
    }
}

.headerGift{
    width: 692px;
    height: 30px;
    line-height: 27px;
    background: #3A1355;
    padding-right: 100px;
    border: 1px solid #9c00ff;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    z-index: 20;
}

.headerGiftBg{
    width: 700px;
    height: 38px;
    position: absolute;
    left: -5px;
    top: -4px;
    overflow: hidden;
    border-radius: 5px;
}

.identityA{
    color: #f8065d;
    margin-right: 10px;
}
.identityB{
    color: #f8065d;
    margin: 0 10px;
}

.headerGiftIcon img{
    vertical-align: middle;
}

.headerGame{
    width:100px;
    height: 35px;
    line-height: 24px;
    background: url($(path)images/header.png) no-repeat 0 -35px;
    font-weight:500;
    position: absolute;
    top: -6px;
    right: 0px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
}

.headerUser{
    float: right;
    text-align: center;
    margin-top: 8px;
    font-weight: 500;
    position:relative;
    img{
        vertical-align: middle;
    }

}

.headerUserImg{
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
    margin-right: 5px;
}

.headerUserImg img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.headerUserName{
    margin:0 10px;
}
.headerUserGender{
    display: inline-block;
    width:11px;
    height: 15px;
    background: url($(path)images/header.png) no-repeat 0 -72px;
    vertical-align: middle;
}

.headerUserBtnBox{
    display: inline-block;
}
.headerUserNoble{
    margin: 0 15px;
}
.headerUserMoney{
    margin-left: 3px;
    display: inline-block;
    vertical-align: middle;
}
.headerUserOldHttp{
    color: #aaa;
    position: absolute;
    top: 14px;
    font-size: 13px;
    right: -61px;
}
.headerWidth{
    /*width: 520px;*/
}
.headerUserInfo {

}
.headerUserLeft{
    float: left;
}

.headerUserBalance{
    /*width: 300px;*/
    /*float: left;*/
    text-align: left;
    margin-right: 4px;
}
.colP{
    line-height: 20px;
    cursor: pointer;
    font-size: 12px;
}
.txtBlance{
    color: #f8065d;
}
.exchargeBox{
    width:  486px;
    height: 256px;
    position: relative;
}
.exchargeLeft{
    width: 160px;
    height: 240px;
    float: left;
}
.exchargeLeftImg{
    width: 200px;
    height: 299px;
    position: absolute;
    bottom: -31px;
    left: -35px;
    background: url($(path)images/girl.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.exchargeRight{
    width: 300px;
    height: 240px;
    margin-left: 20px;
    float: left;
}

.roseRed{
    color: #f8065d;
    font-weight: 700;
    font-size: 14px;
}
.textBlock{
    float: left;
    width: 120px;
    text-align: center;
}
.textFlag{
    float: left;
    line-height: 65px;
}
.exchargeBtn{
    clear: both;
}
.textAlign{
    font-size: 12px;
}
.textTitle{
    color: #f8065d;
    font-weight: 700;
    font-size: 14px;
}
.exchargeButton{
    width: 120px;
    height: 30px;
    line-height: 30px;
    border: none;
    background: #f8065d;
    color: #fff;
    margin-top: 4px;
    outline: none;
    cursor: pointer;
    margin-right: 20px;
}
.exchargeInput{
    width: 100px;
    height: 20px;
    line-height: 20px;
    outline: none;
    border: 1px solid #f8065d;
    margin-top: 7px;
    padding-left: 2px;
    font-size: 12px;
}
.excharge{
    line-height: 24px;
}
.headerFlex {
    display: flex;
    line-height: 40px;
}
.headerButtonBox{
    width: 50px;
}
.headerButtonExchange{
    margin-bottom: 2px;
    margin-left: 0;
    padding: 0;
    width: 50px;
    height: 19px;
    float: left;
    font-size: 12px;
}
@media (min-width: 1540px) {
    .header {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (min-width: 1680px) {
    .header {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media  screen and (max-width: 1366px) {
    .headerDetail, .headerGift{
        width: 512px;
    }
    .headerGiftBg{
        width: 477px;
    }
    .headerGift span{
        font-size: 12px;
    }
    .headerUser{
        margin-right: 90px;
    }
    .headerGame{
        right: -7px;
    }
}

/* (1280x1024) SXGA Display */
@media  screen and (max-width: 1280px) {
    /* insert styles here */
}