{% extends "layout.html.twig" %}
{% block title "合作加盟" %}

{% block head %}
    <script type="text/javascript">
        cross.importFile("busCss", "css");
    </script>
{% endblock %}

{% block content %}
<div class="inx-section" id="cooperation">
    <div class="doc-wrapper">

	    <div class="doc container">
	        
	        <div class="doc-content">
                <div class="co-banner">
                    <div class="co-banner-inner"></div>
                </div>
                <div class="co-content">
                    <div class="co-content-inner clearfix">
                        <div class="co-item">
                            <div class="co-item-img co-item-img1"></div>
                            <p>主播招募：运营小七 <br/>QQ：3351891965 <br/>邮箱：3351891965@qq.com</p>
                        </div>
                        <div class="co-item">
                            <div class="co-item-img co-item-img2"></div>
                            <p>广告网盟合作：尼先生 <br/>QQ：3297498163 <br/>邮箱：3297498163@qq.com<br/>客户代理请联系QQ：2516894147</p>
                        </div>
                        <div class="co-item">
                            <div class="co-item-img co-item-img3"></div>
                            <p>VIP客户负责人 <br/>QQ：3347853430 <br/>邮箱：mitao5201314@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
	<script type="text/javascript">
	    cross.importFile("pageCommonJs", "js");
	</script>
{% endblock %}