/**
 * 邮箱验证和相关页面
 * @author Young
 * @contacts young@kingjoy.co
 */
.mail {
  margin: 50px 0px 30px 0px;
}
.mail .c-span {
  display: inline-block;
  vertical-align: middle;
}
.mail .c-remind {
  width: 17px;
  height: 17px;
  display: inline-block;
  background-image: url('../img/verific_mail_icon.jpg');
  vertical-align: middle;
  margin-right: 6px;
}
.mail #emailRemind {
  width: 79%;
  margin-top: 40px;
  margin-left: 38px;
  text-align: left;
}
.mail .c-red {
  color: #ff0000 !important;
}
.mail .c-blue {
  color: #2688c5 !important;
}
.mail .c-green {
  color: #89c31f !important;
}
.mail .mail-head {
  color: #333;
  font-size: 26px;
  border-bottom: 1px dotted #d6d6d6;
  padding: 10px 0px;
}
.mail .mail-head-fail {
  color: #ff0000;
}
.mail .mail-warn {
  position: relative;
  color: #2688c5 !important;
  font-size: 14px;
  line-height: 1.6em;
  margin-bottom: 60px !important;
}
.mail .mail-warn-icon {
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: -35px;
  top: 3px;
  background-image: url('../img/verific_mail_icon.jpg');
}
.mail button {
  min-width: 120px;
}
.mail #mailVerificBtn {
  width: 300px;
  margin-left: 40px !important;
}
.mail .mail-content {
  float: left;
  margin: 2px 0px 0px 0px;
  width: 400px;
}
.mail .mail-content h2 {
  color: #6ebb48;
  font-size: 18px;
}
.mail .mail-content p {
  font-size: 14px;
  color: #666;
  line-height: 1.6em;
  margin-top: 10px;
}
.mail .mail-content p a {
  color: #ff0000;
  cursor: pointer;
}
.mail .mail-icon {
  width: 104px;
  height: 81px;
  margin-right: 15px;
  background-image: url('../img/new-tips.jpg');
  float: left;
}
.mail #sMailComfirm {
  border-radius: 0 !important;
}
.mail .mail-icon-suc {
  background-position: -95px 0px;
}
.mail .mail-icon-fail {
  background-image: url('../img/new-tips-fail.jpg');
}
.mail .m-form-item {
  width: 550px;
  margin: 20px auto;
}
.mail .m-form-item label {
  text-align: right;
  min-width: 100px;
  display: inline-block;
}
.mail .btn-box-inline button {
  display: inline-block;
  margin-right: 20px;
}
.mail-change-module {
  margin-left: 10px;
}
.mail-change-module a {
  display: block;
  margin: 5px 0px;
  color: #7e67ff;
  cursor: pointer;
}
.mail-change-module span {
  display: block;
  margin: 5px 0px;
}
.mail-btn-tips-time .mail-btn-box .btn {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}
.mail-btn-tips-time .mail-btn-box .mail-btn-tips {
  margin: 5px auto 0px auto;
  text-align: center;
  width: 200px;
}
#resendMail {
  margin: 50px 0px 100px 100px;
  color: white !important;
  width: 250px !important;
  text-align: center !important;
}
#resendMail .mail-btn-tips-time {
  margin-left: 15px;
}
.btn-orange {
  background-color: #cd2456 !important;
}
