@-webkit-keyframes "shake-rotate" {
  2% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  4% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
            transform: translate(0, 0) rotate(-0.5deg);
  }
  6% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  8% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  10% {
    -webkit-transform: translate(0, 0) rotate(6.5deg);
            transform: translate(0, 0) rotate(6.5deg);
  }
  12% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  14% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg);
            transform: translate(0, 0) rotate(-4.5deg);
  }
  16% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  18% {
    -webkit-transform: translate(0, 0) rotate(-6.5deg);
            transform: translate(0, 0) rotate(-6.5deg);
  }
  20% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  22% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  24% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg);
            transform: translate(0, 0) rotate(-4.5deg);
  }
  26% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
            transform: translate(0, 0) rotate(-0.5deg);
  }
  28% {
    -webkit-transform: translate(0, 0) rotate(7.5deg);
            transform: translate(0, 0) rotate(7.5deg);
  }
  30% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  32% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  34% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  36% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  38% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  40% {
    -webkit-transform: translate(0, 0) rotate(6.5deg);
            transform: translate(0, 0) rotate(6.5deg);
  }
  42% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  44% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
            transform: translate(0, 0) rotate(2.5deg);
  }
  46% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  48% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(-6.5deg);
            transform: translate(0, 0) rotate(-6.5deg);
  }
  52% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg);
            transform: translate(0, 0) rotate(-4.5deg);
  }
  54% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
            transform: translate(0, 0) rotate(2.5deg);
  }
  56% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  58% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  60% {
    -webkit-transform: translate(0, 0) rotate(-6.5deg);
            transform: translate(0, 0) rotate(-6.5deg);
  }
  62% {
    -webkit-transform: translate(0, 0) rotate(6.5deg);
            transform: translate(0, 0) rotate(6.5deg);
  }
  64% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  66% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  68% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  70% {
    -webkit-transform: translate(0, 0) rotate(6.5deg);
            transform: translate(0, 0) rotate(6.5deg);
  }
  72% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  74% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  76% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  78% {
    -webkit-transform: translate(0, 0) rotate(-6.5deg);
            transform: translate(0, 0) rotate(-6.5deg);
  }
  80% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  82% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  84% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  86% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  88% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  90% {
    -webkit-transform: translate(0, 0) rotate(7.5deg);
            transform: translate(0, 0) rotate(7.5deg);
  }
  92% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  94% {
    -webkit-transform: translate(0, 0) rotate(7.5deg);
            transform: translate(0, 0) rotate(7.5deg);
  }
  96% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  98% {
    -webkit-transform: translate(0, 0) rotate(6.5deg);
            transform: translate(0, 0) rotate(6.5deg);
  }
  0%,
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}
@keyframes "shake-rotate" {
  2% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  4% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
            transform: translate(0, 0) rotate(-0.5deg);
  }
  6% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  8% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  10% {
    -webkit-transform: translate(0, 0) rotate(6.5deg);
            transform: translate(0, 0) rotate(6.5deg);
  }
  12% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  14% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg);
            transform: translate(0, 0) rotate(-4.5deg);
  }
  16% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  18% {
    -webkit-transform: translate(0, 0) rotate(-6.5deg);
            transform: translate(0, 0) rotate(-6.5deg);
  }
  20% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  22% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  24% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg);
            transform: translate(0, 0) rotate(-4.5deg);
  }
  26% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
            transform: translate(0, 0) rotate(-0.5deg);
  }
  28% {
    -webkit-transform: translate(0, 0) rotate(7.5deg);
            transform: translate(0, 0) rotate(7.5deg);
  }
  30% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  32% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  34% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  36% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  38% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  40% {
    -webkit-transform: translate(0, 0) rotate(6.5deg);
            transform: translate(0, 0) rotate(6.5deg);
  }
  42% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  44% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
            transform: translate(0, 0) rotate(2.5deg);
  }
  46% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  48% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(-6.5deg);
            transform: translate(0, 0) rotate(-6.5deg);
  }
  52% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg);
            transform: translate(0, 0) rotate(-4.5deg);
  }
  54% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
            transform: translate(0, 0) rotate(2.5deg);
  }
  56% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  58% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  60% {
    -webkit-transform: translate(0, 0) rotate(-6.5deg);
            transform: translate(0, 0) rotate(-6.5deg);
  }
  62% {
    -webkit-transform: translate(0, 0) rotate(6.5deg);
            transform: translate(0, 0) rotate(6.5deg);
  }
  64% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  66% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  68% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  70% {
    -webkit-transform: translate(0, 0) rotate(6.5deg);
            transform: translate(0, 0) rotate(6.5deg);
  }
  72% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  74% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  76% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  78% {
    -webkit-transform: translate(0, 0) rotate(-6.5deg);
            transform: translate(0, 0) rotate(-6.5deg);
  }
  80% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  82% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  84% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  86% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  88% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  90% {
    -webkit-transform: translate(0, 0) rotate(7.5deg);
            transform: translate(0, 0) rotate(7.5deg);
  }
  92% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  94% {
    -webkit-transform: translate(0, 0) rotate(7.5deg);
            transform: translate(0, 0) rotate(7.5deg);
  }
  96% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  98% {
    -webkit-transform: translate(0, 0) rotate(6.5deg);
            transform: translate(0, 0) rotate(6.5deg);
  }
  0%,
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}
.pay {
  width: 1200px;
  margin: auto;
}
.pay .pay-guard-box {
  overflow: hidden;
  position: relative;
}
.pay .pay-guard-box img {
  width: 1200px;
}
.pay .pay-guard-content {
  background: #fff;
  overflow: hidden;
  width: 1120px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding: 0 40px;
  float: left;
}
.pay .pay-guard-content h3 {
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  font-size: 20px;
  color: #333;
}
.pay .pay-guard-content .tip {
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
}
.pay .pay-guard-content .tip i {
  color: #ff497f !important;
  font-size: 12px;
}
.pay .pay-guard-content .tip ol {
  margin-left: 18px;
}
.pay .pay-guard-content .tip ol li {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  list-style-type: decimal;
}
.pay .pay-guard-content .tip .unit {
  font-size: 20px;
  color: #ff497f;
}
.pay .pay-guard-content .tip .nickname {
  font-size: 16px;
  color: #ff497f;
}
.pay .pay-guard-content .pay-guard-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  min-height: 32px;
  margin-top: 20px;
}
.pay .pay-guard-content .pay-guard-horizontal:not(:last-child) {
  margin-bottom: 16px;
}
.pay .pay-guard-content .pay-guard-horizontal .control-label {
  height: 32px;
  line-height: 32px;
}
.pay .pay-guard-content .pay-guard-horizontal .control-label .label {
  color: #363636;
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-right: 4px;
}
.pay .pay-guard-content .pay-guard-horizontal .border {
  display: none;
}
.pay .pay-guard-content .pay-guard-horizontal .control {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 920px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 input {
  width: 290px;
  height: 28px;
  padding-left: 10px;
  border: none;
  border: solid 1px #ccc;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 span {
  line-height: 32px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 span i {
  color: #ff3e69;
  font-size: 14px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li {
  width: 140px;
  height: 50px;
  color: #333;
  border: 1px solid #ccc;
  line-height: 41px;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  float: left;
  position: relative;
  margin: 5px 10px 5px 0;
  text-indent: -999em;
  background: #fff;
  cursor: pointer;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li .icon-corner-checked {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url('../img/mt-icon.png') no-repeat;
  background-position: -48px -285px;
  width: 21px;
  height: 21px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li.current {
  border: 1px solid #ff3e69;
  color: #ff3e69;
  outline: none;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li.current .icon-corner-checked {
  display: block;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li.current .icon-discount-checked {
  display: block;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li.other,
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li[data-id] {
  background: url('../img/mt-icon.png') no-repeat center center;
  background-position: 20px -194px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li.alipay,
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li[data-id='5'] {
  background: url('../img/mt-icon.png') no-repeat center center;
  background-position: 28px 12px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li.wechat,
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li[data-id='6'] {
  background: url('../img/mt-icon.png') no-repeat center center;
  background-position: 20px -32px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li.bankpay,
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li[data-id='4'] {
  background: url('../img/mt-icon.png') no-repeat center center;
  background-position: 22px -72px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li.transfer {
  background: url('../img/mt-icon.png') no-repeat center center;
  background-position: 22px -113px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li.qqpay,
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 ul li[data-id='2'] {
  background: url('../img/mt-icon.png') no-repeat center center;
  background-position: 26px -155px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 .errorTip {
  color: #f9042a;
  margin-left: 10px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 .tollerrorTip {
  color: #f9042a;
  margin-left: 10px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded1 .tip {
  color: #ff3e69;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded2 input {
  width: 290px;
  height: 28px;
  padding-left: 10px;
  border: none;
  border: solid 1px #ccc;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded2 span {
  line-height: 32px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded2 span i {
  color: #ff3e69;
  font-size: 14px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded2 ul li {
  width: 140px;
  height: 80px;
  color: #333;
  border: 1px solid #ccc;
  line-height: 41px;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  float: left;
  position: relative;
  margin: 5px 10px 5px 0;
  text-align: center;
  background: #fff;
  cursor: pointer;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded2 ul li .icon-corner-checked {
  display: none;
  position: absolute;
  right: 0;
  background: url('../img/mt-icon.png') no-repeat;
  bottom: 0;
  background-position: -48px -285px;
  width: 21px;
  height: 21px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded2 ul li .icon-discount-checked {
  display: none;
  position: absolute;
  right: 0;
  background: url('../img/redpay.png') no-repeat;
  top: -10px;
  right: -4px;
  width: 40px;
  height: 50px;
  font-size: 12px;
  color: #fff;
  padding-top: 16px;
  text-align: center;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded2 ul li .points {
  display: block;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded2 ul li.current {
  border: 1px solid #ff3e69;
  color: #ff3e69;
  outline: none;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded2 ul li.current .icon-corner-checked {
  display: block;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded2 ul li.current .icon-discount-checked {
  display: block;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded2 .errorTip {
  color: #f9042a;
  margin-left: 10px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .is-expanded2 .tollerrorTip {
  color: #f9042a;
  margin-left: 10px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .anchor {
  border: 1px solid #ccc;
  height: 55px;
  width: 298px;
  padding: 2px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .anchor table tbody tr td {
  line-height: 24px;
  font-size: 12px;
  padding: 3px 2px 8px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .anchor table tbody tr td img {
  width: 50px;
  height: 50px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .anchor table tbody tr td em {
  display: inline-block;
  width: 20px;
  height: 18px;
  text-indent: -9999em;
  margin-right: 5px;
}
.pay .pay-guard-content .pay-guard-horizontal .control .button {
  background: #ff3e69;
  border: none;
  padding: 0 10px;
  color: #fff;
  display: block;
  width: 254px;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  outline: none;
}
.pay .pay-guard-content .pay-guard-horizontal .control .button:hover {
  background: #d8103d;
}
.pay .pay-guard-content .pay-guard-horizontal .control .button.button-disabled {
  background: #868e96;
}
.pay .pay-guard {
  height: 720px;
}
.pay input[type="text"] {
  width: 130px;
  height: 50px;
  border: none;
  border: 1px solid #999;
  outline: none;
}
.pay input[type="text"]:focus {
  border: 1px solid #ff3e69 !important;
}
.pay em {
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 28px;
  height: 16px;
  background: #f53f69;
  color: #fff;
  border-radius: 1px;
  line-height: 16px;
  font-size: 1px;
  box-sizing: border-box;
  text-indent: 0;
  text-align: center;
  float: right;
}
@media (max-width: 991px) {
  html {
    font-size: 62.5%;
  }
  .mt-header,
  .inx-footer,
  .pay-guard-box {
    display: none!important;
  }
  .inx-wrapper {
    overflow: hidden;
    position: relative;
    padding: 1rem 15px;
  }
  .pay {
    width: 100%;
  }
  .pay .pay-guard {
    height: 100% !important;
  }
  .pay .control {
    width: 100% !important;
  }
  .pay .pay-guard-content {
    width: 100%;
    padding: 0;
    margin-top: 0;
  }
  .pay form {
    margin: auto;
  }
  .pay input[type="text"] {
    width: 11.625rem !important;
  }
  .pay .lable-tab {
    padding: 0 1rem;
    font-size: 1rem !important;
  }
  .pay .lable-tab i {
    color: #ff497f !important;
    font-size: .2rem;
  }
  .pay .tip {
    font-size: 1rem!important;
  }
  .pay .hide {
    display: none !important;
  }
  .pay .pay-guard-horizontal {
    display: inherit !important;
    margin: .625rem 0 !important;
  }
  .pay .label {
    margin: 0 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .pay .label .border {
    width: 2px;
    height: 5px;
    padding: 5px 0;
    margin: 8px 0;
    border-left: 2px solid #ff3e69;
    display: block !important;
  }
  .pay h3 {
    width: 100% !important;
  }
  .pay .is-grouped {
    width: 100% !important;
  }
  .pay .is-expanded1 {
    padding: 0 1rem;
  }
  .pay .is-expanded1 .guard-month {
    width: 100%;
  }
  .pay .is-expanded1 ul li {
    width: 46% !important;
    margin: 0 !important;
    margin: .2rem .2rem !important;
  }
  .pay .is-expanded1 ul li.alipay {
    background-position: 22px 12px !important;
  }
  .pay .is-expanded1 ul li.wechat {
    background-position: 11px -32px !important;
  }
  .pay .is-expanded1 ul li.bankpay {
    background-position: 11px -72px !important;
  }
  .pay .is-expanded1 ul li.transfer {
    background-position: 12px -113px !important;
  }
  .pay .is-expanded1 ul li.qqpay {
    background-position: 17px -155px !important;
  }
  .pay .is-expanded2 {
    padding: 0 1rem;
  }
  .pay .is-expanded2 .guard-month {
    width: 100%;
  }
  .pay .is-expanded2 ul li {
    width: 30% !important;
    height: 4rem !important;
    margin: 0 !important;
    margin: .28rem .28rem !important;
    text-align: center !important;
    padding: 0 !important;
  }
  .pay .is-expanded2 ul li .points,
  .pay .is-expanded2 ul li .rmb {
    display: block;
    line-height: 2rem !important;
  }
  .pay .is-expanded2 ul li .icon-discount-checked {
    display: none !important;
  }
  .pay .button {
    margin: 1rem auto;
  }
}
@media screen and (max-width: 991px) and (min-width: 375px) {
  html {
    font-size: 73.24%;
  }
}
@media screen and (max-width: 991px) and (min-width: 414px) {
  html {
    font-size: 73.24%;
  }
}
@media screen and (max-width: 991px) and (min-width: 481px) {
  html {
    font-size: 94%;
  }
}
@media screen and (max-width: 991px) and (min-width: 561px) {
  html {
    font-size: 109%;
  }
}
@media screen and (max-width: 991px) and (min-width: 641px) {
  html {
    font-size: 125%;
  }
}
