<!DOCTYPE html>
<html>
<head>
    {% include 'meta.html.twig' %}

    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="蜜桃儿,app，apk，约炮神器，蜜桃儿手机客户端，蜜桃儿华人视频直播平台是首屈一指的私密美女视频直播秀场、私家秀.最具诱惑的免费秀场,高清流畅福利直播,最流畅的美女直播秀私家夜蒲">
    <meta name="description" content="第一坊二站,mitao,蜜桃,FC2,直播,MFC,直播,网红美女,福利直播,大秀门户,YY大秀,免费美女直播,互动直播,性感直播视频,全球领先福利直播平台">

    {% include 'cdn.html.twig' %}
    <script type="text/javascript" src="{{ STATIC_PATH }}/public/dest/{{ publish_version }}/cross.js"></script>

    <script type="text/javascript">
        cross.importFile("commonCss", "css");
    </script>
    {% block head %}{% endblock %}
</head>
<body>
{% block contenthead %}{% endblock %}

<div class="inx-wrapper">
{% block content %}{% endblock %}
</div>

<!-- 隐藏窗口 -->
{% block divhide %}{% endblock %}
<script  type="text/javascript" >
    //头像图片服务器
    window.IMG_PATH = "{{ IMG_PATH }}";

    //load lib
    cross.importFile("libJs", "js");
    cross.importFile("commonJs", "js");
</script>
{% block javascript %}{% endblock %}

{% include 'google-analytics.html.twig' %}

</body>
</html>
