<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=Edge">
<meta name="renderer" content="webkit">
<meta name="x-force-rendering" content="webkit">
<meta name="force-rendering" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="蜜桃儿官网">
<meta name="keywords" content="蜜桃儿官网">
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<!--[if IE]><!-->
<script>
    if (/*@cc_on!@*/false && document.documentMode != undefined) {
        document.documentElement.className += 'ie-mode';
    }
</script>
<div class="mt-ie-updater-layer"></div>
<div class="mt-ie-updater-box">
    <a href="http://rj.baidu.com/soft/detail/14744.html" class="mt-ie-updater-google" target="_blank" title="谷歌 Chrome"></a>
    <a href="http://www.uc.cn/ucbrowser/download/" class="mt-ie-updater-uc" target="_blank" title="UC 浏览器"></a>
</div>
<!--<![endif]-->
