{% extends "layout.html.twig" %}
{% block title "蜜桃儿平台主播合作协议" %}
{% block head %}
    <script type="text/javascript">
        cross.importFile("busCss", "css");
    </script>
{% endblock %}

{% block content %}

<div class="inx-section">
	{% include "Business/joining.top.html.twig" %}
	<div class="container">
		<div class="pContent">
			<h1>蜜桃儿平台主播合作协议</h1>
			<p>
				欢迎申请使用蜜桃儿视频演艺平台（以下简称“蜜桃儿”）。为保障双方权益，特制定本《蜜桃儿主播合作协议》（以下简称“本协议”）。请您在申请前，详细阅读本协议的所有内容，特别是免除或限制责任的条款、争议解决和法律适用条款，相关的重要条款将可能以加粗字体显示，请重点阅读。当您点选“我同意”按钮后， 即视为您已充分理解并同意遵守本协议的所有约定，此后您不得以未阅读本协议内容或类似言辞做任何形式的抗辩。您同意按照本协议的规定使用蜜桃儿提供的在线演艺直播活动的技术支持服务。您申请签约主播资格时，应当同意本协议的全部条款并按照页面上的提示完成签约主播申请的过程。您提交签约主播申请即表示您完全接受本协议项下的全部条款。
			</p>
			<h2>一、特别提示</h2>
			<p>
				1．本协议由您与蜜桃儿的经营者共同缔结，本协议具有合同效力。您在蜜桃儿的行为，包括您申请成为主播、您以主播身份进行歌曲演唱、脱口秀等任何形式的在线表演活动、您从蜜桃儿用户处获得礼物、参与蜜桃儿举办的活动等，均受本协议约束。
			</p>
			<p>
				2．蜜桃儿的经营者是指法律认可的经营蜜桃儿网站的责任主体，蜜桃儿网站包括但不限于蜜桃儿现在或将来开发、发布的移动客户端及其升级版本。
			</p>
			<p>
				3．本协议内容包括协议正文及所有蜜桃儿已经发布或将来可能发布的各类规范、公告或通知。如无特别说明，则该等规范、公告或通知与本协议正文合称“本协议”，为本协议不可分割的组成部分，与协议正文具有同等法律效力。
			</p>
			<p>
				4．蜜桃儿有权根据需要，不时修改本协议，并以网站公示的方式周知，无需另行单独通知您。变更后的协议一经公布，立即或在公示时明确的特定时间自动生效。若您在前述变更后继续使用蜜桃儿服务的，即表示您已经阅读、理解并接受经修订的协议内容。
			</p>
			<h2>二、蜜桃儿及其服务</h2>
			<p>1．通过蜜桃儿和该平台接入的其他服务，主播可以创建和装饰直播间、在线进行才艺表演、获得用户赠送的虚拟礼品；用户可以与主播进行在线互动、购买钻石(平台货币)后对主播的表演予以奖赏。</p>
			<p>2．蜜桃儿将竭力提升主播知名度和用户活跃度。主播和用户可参加蜜桃儿组织的活动以及使用其它信息服务及技术服务，具体以蜜桃儿不时公布的活动或服务内容为准。</p>

			<p>3．主播利用蜜桃儿开展本协议所约定之合作事项所产生的应纳税赋，以及视频直播所需的环境及设备（包括但不限于网络、电脑、麦克风、视频装置等软件、硬件）及其他方面的费用，均由主播自行承担。</p>

			<p>4．为促进蜜桃儿的良性发展，蜜桃儿有权（但无义务）指定或委托第三方自然人、公司等法律实体对主播的表演行为进行管理、指导，该等第三方可能命名为“家族长”或其他名称，以使主播和用户之间能够良好地互动。主播需要尊重并服从蜜桃儿此种安排并接受该等第三方的管理及指导。</p>

			<p>5．为规范平台的良好秩序，蜜桃儿有权（但无义务）调配主播的才艺表演安排，包括但不限于表演的时段、时长、方式等，主播需要尊重并服从蜜桃儿的管理。</p>

			<p>6．如主播的才艺表演出现任何有损蜜桃儿利益及形象之情况时，蜜桃儿有权采取任何措施进行干预，例如立即中断在线表演、限制/冻结主播的权限、追究主播的违约责任等。</p>

			<p>7．为使平台服务更加规范化、系统化，蜜桃儿将按照法律法规的要求，不时制定、调整与主播才艺表演相关的规范、制度，并通过系统公告、系统通知、当面告知等的方式通知主播，敬请主播注意查询并予遵守。</p>

			<h2>三、主播资格和行为规范</h2>
			<p>1．蜜桃儿将您在申请成为主播的过程中提交的资料予以审核，且有权独立决定是否给予您签约主播资格。</p>

			<p>2．您应当具有缔结并完全履行本协议的权利。若您不具备完全民事行为能力，则您及您的监护人应承担因此而导致的一切后果，且蜜桃儿有权注销或永久冻结您的账户，并向您及您的监护人索偿相应损失。</p>
			<p>3．因您提供的个人信息、资料是蜜桃儿判断您身份的重要依据，故您需保证提供给蜜桃儿的所有信息的真实性、合法性、有效性。如有任何变动，您必须及时通知蜜桃儿。如因主播提交的信息资料违反该约定的，蜜桃儿有权终止您使用蜜桃儿的任何一项服务。</p>
			<p>4．主播授权蜜桃儿在本协议期间及期满或终止后，可无偿自由使用主播之署名（包括但不限于姓名、艺名、网名等）及肖像；如主播希望排他性独家在蜜桃儿开展才艺表演的，则可联系蜜桃儿在线客服，或蜜桃儿也将主动联系相关主播，双方将签署书面协议明确独家事项。</p>
			<p>5．主播在进行才艺表演时，应当符合法律法规及相关政策的规定，遵照蜜桃儿不时发布的《蜜桃儿主播行为规范》，确保表演过程中无任何不良、非法或侵害第三方合法权益的内容。主播上传或者发表于蜜桃儿的所有信息，包括但不限于文字、图片、音乐、电影、表演和录音录像制品等均享有完整的知识产权或者已经得到相关权利人的合法授权。如主播违反约定造成蜜桃儿被第三人索赔的，主播同意全额补偿蜜桃儿。</p>
			<p>6．主播需遵守诚实信用原则，不采取不正当竞争行为，不扰乱蜜桃儿的正常秩序，不从事与在线才艺表演无关的行为，不得利用蜜桃儿提供的网络技术服务，进行任何不利于蜜桃儿的行为。</p>

			<h2>四、主播收益相关</h2>

			<p>1．主播在蜜桃儿提供在线才艺表演，可以获得用户给予的奖赏，该奖赏将由蜜桃儿代为收取并支付给主播。</p>
			<p>2．主播同意在使用蜜桃儿提供的平台服务时，向蜜桃儿支付一定金额的平台服务费，具体将从主播获得的用户奖赏中提取一定比例。蜜桃儿会将具体比例以不特定形式向主播公示。</p>
			<p>3．主播明确同意，并特别授权：</p>
			<p>（1）用户给予主播的奖赏由蜜桃儿通过系统自动统计，并以此数据为准向主播结算。</p>
			<p>（2）为保证该待结算账户的资金安全，除法律法规另有规定或蜜桃儿为服务主播等而必须采取的措施外，蜜桃儿将不向任何人披露待结算账户的任何相关信息；</p>
			<p>（3）若主播违反本协议，蜜桃儿有权对主播实际应获得的奖赏采取限制措施，例如将主播的账户内的款项支付给蜜桃儿指定的对象，中止、终止对主播提供部分或全部服务，公示主播的违约情况。</p>
			<p>4．主播确认其在申请成为主播时，在蜜桃儿页面所约定的账户为主播收取实际应得奖赏的唯一结算账户，并保证该账户信息准确无误。该账户收到款项后，即视为主播收到了其应得的实际奖赏，主播无权再以任何理由要求蜜桃儿向其支付任何款项。若主播有需要变更此账户或该账户出现不可用等其他情形时，主播应至少提前10个工作日按蜜桃儿的要求书面提出变更申请，经蜜桃儿审核通过后予以变更。变更前，已经发生的款项划拨不可变动。</p>
			<p>5．有关收益的相关政策及规则详见蜜桃儿的系统公告及蜜桃儿以其他方式发出的通知、说明。</p>
			<p>6．主播开展本协议所涉之合作事项而获得的实际应得奖赏为税前收入，主播应根据中国税法的相关规定自行申报缴纳税款。</p>

			<h2>五、知识产权</h2>
			<p>1．除非获得蜜桃儿的明确授权，否则任何时候主播不得擅自复制或使用蜜桃儿的任何标识，包括但不限于商标、域名、LOGO等。</p>
			<p>2．主播对其在线才艺表演享有法定权益，蜜桃儿有权对其在线表演活动进行录音录像。</p>
			<p>3．主播同意授权蜜桃儿复制、发行或以其他方式向公众传播载有主播表演的录音/录像制品（作品），例如以有线或者无线方式通过信息网络、广播电视网络、电信网等向公众传播。对此，蜜桃儿无需额外向主播支付任何费用。对于擅自盗播或以其他方式使用主播表演的行为，蜜桃儿有权单独展开维权活动。在此情况下，主播应对蜜桃儿的维权行为给予积极配合和支持。</p>
			<p>4．为更好的维护蜜桃儿的运营，进而给主播及用户提供良好的服务，并根据法律法规的要求，蜜桃儿有权记录、审查、保存、使用主播通过蜜桃儿进行在线才艺表演过程中产生的并储存于蜜桃儿或其关联公司服务器中的数据信息（包括但不限于帐户数据信息、用户登录数据等），例如传递给向主播提供其他服务的蜜桃儿的关联公司或其他组织，或从提供其他服务的蜜桃儿关联公司或其他组织获取主播的相关个人信息。该使用的权利不因本协议的解除或终止而失去效力。</p>

			<h2>六、非劳动关系</h2>
			<p>主播与蜜桃儿或其关联公司之间不存在任何的劳动关系，蜜桃儿不承担主播的任何费用，包括但不限于社会保险、福利和医疗保险费用，主播也不享用蜜桃儿为其职员提供的各项福利政策。</p>

			<h2>七、主播隐私的保护</h2>
			<p>尊重个人隐私是蜜桃儿的重要政策。在未经授权的情况下，蜜桃儿不会公开或向第三方透露主播的个人真实资料。但如根据法律规定或政府部门的命令或以下情况下，蜜桃儿可不经授权而向相关部门或第三方公开或透露主播的信息：</p>
			<p>1. 主播授权蜜桃儿披露的；</p>
			<p>2. 在紧急情况下为维护第三人或社会公共利益；</p>
			<p>3. 为维护蜜桃儿自身合法权益所必要的披露；</p>
			<p>4. 蜜桃儿根据现行法律法规规定，认为必要的其他情况。</p>

			<h2>八、责任承担：</h2>
			<p>1．如主播违反本协议的约定，或出现其他经蜜桃儿判断可能对本协议合作造成损害的行为的，蜜桃儿有权视情况采取如下一种或几种救济措施，如因此给蜜桃儿及/或关联公司造成损失的，主播应负责赔偿：</p>
			<p>（1） 责令主播限期改正；</p>
			<p>（2） 限制/冻结主播的表演等权限；</p>
			<p>（3） 限制/冻结主播的蜜桃儿账号；</p>
			<p>（4）立即中止/停止向主播结算/支付实际应得奖赏，或冻结主播的蜜桃儿账户；</p>
			<p>（5） 根据蜜桃儿公示的规范要求主播支付违约金。蜜桃儿有权从主播实际应得奖赏中进行划扣；</p>
			<p>（6） 其他蜜桃儿可以依法或依约采取的救济措施。</p>
			<p>2. 除非法律法规明确要求，或出现以下情况，否则，蜜桃儿没有义务对所有主播的行为以及与表演有关的其它事项进行事先审查：</p>
			<p>（1） 蜜桃儿有合理的理由认为主播及具体表演可能存在重大违法或违约情形。</p>
			<p>（2） 蜜桃儿有合理的理由认为主播在蜜桃儿的行为涉嫌违法或不当。</p>
			<p>3. 如发生下列任何一种情形，蜜桃儿有权随时解除主播资格：</p>
			<p>（1） 主播违反本协议约定；</p>
			<p>（2） 主播违反蜜桃儿或家族长的管理；</p>
			<p>（3） 主播提供的个人资料不真实或不合法。</p>
			<h2>九、适用法律与纠纷解决</h2>
			<p>1．本协议适用中华人民共和国的法律，并且排除一切冲突法规的适用。</p>
			<p>2．当本协议的任何内容与中华人民共和国法律相抵触时，应当以法律规定为准，同时相关条款将按法律规定进行修改或重新解释，而本协议其他部分的法律效力不变。</p>
			<p>3．如主播与蜜桃儿就本协议内容出现纠纷，双方一致同意将纠纷交由蜜桃儿所在地人民法院管辖。</p>
			<h2>十、其他</h2>
			<p>1．本协议中的标题仅为方便阅读而设，不应影响本协议任何条款的解释。</p>
			<p>2．如本协议中的任何条款因任何原因被判定为完全或部分无效或不具有执行力的，该无效或不具有执行力的条款将被最接近原条款意图的一项有效并可执行的条款所替代，并且本协议的其余条款仍应有效并且有执行力。</p>
			<p>3．蜜桃儿及其关联公司不对平台相关服务的适用性、可靠性、准确性、完整性、稳定性、持续性、无病毒以及无错误，做出任何明示或默示保证。</p>
			<p>4．如主播对本协议内容有任何疑问，可联系客服QQ。</p>
			
		</div>
		<div class="btn-box">
	        <input type="hidden" name="login" value="{{ login }}" id="loginState" />
			<input type="hidden" name="agree" value="true">
			<input type="hidden" class="register">
			<button class="btn" type="submit" id="btnAgree">我同意</button>
            <button class="btn btn-white" onclick="location.href='/business/joining'">我拒绝</button>
		</div>
	</div>

</div>

{% endblock %}

{% block javascript %}
	<script type="text/javascript">
	    cross.importFile("agreementJs", "js");
	</script>
{% endblock %}
