.root{
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.content{
    text-align: left;
    min-width: 60px;
}

.leftElement{
    position: absolute;
    left: 10px;
    top: 10px;
}

.rightElement{
    position: absolute;
    right: 10px;
    top: 10px;
}

.itemHover_white:hover{
    background-color: #f8065d;
    color: #fff;
}

.itemHover_red:hover{
    background-color: #d2024d;
}