@import "../../../../www/style/common.css";

/*基础按钮样式 */
.baseButton{
      display: inline-block;
      color: white;
      cursor:pointer;
      font-size: 14px;
      
      margin-left: 10px;
      border: 0px;
      vertical-align: middle;
      line-height: 16px;
      border-radius: 5px;
      
      @extend .banSelect;
      &:hover{
            border: 0;
            outline: none;
      }
      &:active{
            border: 0;
            outline:none;
      }
      &:focus{
            border: 0;
            outline:none;
      }
}

/*默认按钮*/
.pink{
      @extend .baseButton;
      background-color:#f8065d;
      &:active{
            background-color: #d00c58;
      }
}

/*紫色按钮*/
.purple{
      @extend .baseButton;
      background-color: #854ce0;
      &:active{
            background-color: #6b3eb1;
      }
}

/*白色按钮*/
.white{
      @extend .baseButton;
      background-color: #fff;
      &:active{
             background-color: #fcfcfc;
       }

      color: #f8065d;
}
/*圆角按钮*/
.square{
      border-radius: 5px !important;
}
.round{
      border-radius: 50px !important;
}

/* size */
.small{
      padding: 4px 15px
}

.middle{
      padding: 7px 18px;
}

.large{
      padding: 12px 20px;
}
