.container{
    position: absolute;
    z-index: 500;
    left: 0px;
    top: 0px;
}

:global(.animationRoutes-enter){
    opacity: 0.01;
    display: block!important;
}

:global(.animationRoutes-enter.animationRoutes-enter-active){
    -webkit-animation: moveIn 5s infinite; /* Safari 4.0 - 8.0 */
    animation: moveIn 5s infinite;
}

:global(.animationRoutes-leave){
    opacity: 1;
}

:global(.animationRoutes-leave.animationRoutes-leave-active){
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

@keyframes moveIn{
    0% {
        opacity: 0.01;
        height: 0px;
        transform:translateX(60px);
        -webkit-transform:translateX(60px);
    }
    20%{
        opacity: 1;
        height: 59px;
        transform:translateX(0px);
        -webkit-transform:translateX(0px);
    }

    80%{
        opacity: 1;
        height: 59px;
    }
    100% {
        opacity: 0.01;
        height: 0px;
    }
}