$path :../../../../www/;
.basicContainer{
    width: 49px;
	height: 20px;
	background-image: url($(path)images/levelIco.png);
    display: inline-block;
    vertical-align: middle;
}

/* 用户等级及财富等级 */ 
.basicLevel1{
	background-position: -100px 0px;
}
.basicLevel2{
	background-position: -100px -21px;
}
.basicLevel3{
	background-position: -100px -42px;
}
.basicLevel4{
	background-position: -100px -63px;
}
.basicLevel5{
	background-position: -100px -84px;
}
.basicLevel6{
	background-position: -100px -105px;
}
.basicLevel7{
	background-position: -100px -126px;
}
.basicLevel8{
	background-position: -100px -147px;
}
.basicLevel9{
	background-position: -100px -168px;
}
.basicLevel10{
	background-position: -100px -189px;
}
.basicLevel11{
	background-position: -100px -210px;
}


.basicLevel12{
	background-position: -150px 0px;
}
.basicLevel13{
	background-position: -150px -21px;
}
.basicLevel14{
	background-position: -150px -42px;
}
.basicLevel15{
	background-position: -150px -63px;
}
.basicLevel16{
	background-position: -150px -84px;
}
.basicLevel17{
	background-position: -150px -105px;
}
.basicLevel18{
	background-position: -150px -126px;
}
.basicLevel19{
	background-position: -150px -147px;
}


.basicLevel20{
	background-position: -200px 0px;
}
.basicLevel21{
	background-position: -200px -21px;
}
.basicLevel22{
	background-position: -200px -42px;
}
.basicLevel23{
	background-position: -200px -63px;
}
.basicLevel24{
	background-position: -200px -84px;
}
.basicLevel25{
	background-position: -200px -105px;
}
.basicLevel26{
	background-position: -200px -126px;
}
.basicLevel27{
	background-position: -200px -147px;
}
.basicLevel28{
	background-position: -200px -168px;
}
.basicLevel29{
	background-position: -200px -189px;
}
.basicLevel30{
	background-position: -200px -210px;
}
.basicLevel31{
	background-position: -200px -231px;
}

/* vip等级 */ 
.vipContainer {
	width: 34px;
    height: 30px;

    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
    margin-top: -3px;
    display: inline-block;
    vertical-align: middle;
}

.vipLevel1101{
    background-image : url($(path)images/1101.gif);
}

.vipLevel1102{
    background-image : url($(path)images/1102.gif);
}

.vipLevel1103{
    background-image : url($(path)images/1103.gif);
}

.vipLevel1104{
    background-image : url($(path)images/1104.gif);
}

.vipLevel1105{
    background-image : url($(path)images/1105.gif);
}

.vipLevel1106{
    background-image : url($(path)images/1106.gif);
}

.vipLevel1107{
    background-image : url($(path)images/1107.gif);
}

/* 主播等级 */ 
.auchorLevel1{
	background-position: 0px 0px;
}
.auchorLevel2{
	background-position: 0px -21px;
}
.auchorLevel3{
	background-position: 0px -42px;
}
.auchorLevel4{
	background-position: 0px -63px;
}
.auchorLevel5{
	background-position: 0px -84px;
}

.auchorLevel6{
	background-position: 0px -105px;
}
.auchorLevel7{
	background-position: 0px -126px;
}
.auchorLevel8{
	background-position: 0px -147px;
}
.auchorLevel9{
	background-position: 0px -168px;
}
.auchorLevel10{
	background-position: 0px -189px;
}

.auchorLevel11{
	background-position: -50px 0px;
}
.auchorLevel12{
	background-position: -50px -21px;
}
.auchorLevel13{
	background-position: -50px -42px;
}
.auchorLevel14{
	background-position: -50px -63px;
}
.auchorLevel15{
	background-position: -50px -84px;
}
.auchorLevel16{
	background-position: -50px -105px;
}
.auchorLevel17{
	background-position: -50px -126px;
}
.auchorLevel18{
	background-position: -50px -147px;
}
.auchorLevel19{
	background-position: -50px -168px;
}
.auchorLevel20{
	background-position: -50px -189px;
}
.auchorLevel21{
	background-position: -50px -210px;
}
.auchorLevel22{
	background-position: -50px -231px;
}
.auchorLevel23{
	background-position: -50px -252px;
}
.auchorLevel24{
	background-position: -50px -273px;
}
.auchorLevel25{
	background-position: -50px -294px;
}
.auchorLevel26{
	background-position: -50px -315px;
}
.auchorLevel27{
	background-position: -50px -336px;
}
.auchorLevel28{
	background-position: -50px -357px;
}
.auchorLevel29{
	background-position: -50px -378px;
}
.auchorLevel30{
	background-position: -50px -399px;
}
.auchorLevel31{
	background-position: -50px -420px;
}

/* 徽章 */ 
.badge{
	width: 27px;
	height: 28px;
	margin: 0px 3px;
	
	background-position: 0px -281px;
    display: inline-block;
    vertical-align: middle;
}

.badge900000{
	background-position: 0px 0px;
}

.badge900001{
	background-position: -28px 0px;
}

.badge900002{
	background-position: -56px 0px;
}

.badge900003{
	background-position: -84px 0px;
}

.badge900004{
	background-position: -112px 0px;
}

.badge900005{
	background-position: -140px 0px;
}

.badge900006{
	background-position: -168px 0px;
}

.badge800000{
	width: 39px;
	height: 35px;
	background-position: -0px -158px;
}