{% extends 'Member/layout.html.twig' %}
{% block title %}密码管理{% endblock %}
{% block right %}

<div class="perCenter">

    <div class="perCenter-item clearfix">
        <span class="perCenter-title">密码管理</span>
    </div>
    <form id="setPassword">
        <input type="password" autocomplete="off" style="display:none;"/>
        <table class="table-form">
            <tr>
                <th>现在的密码：</th>
                <td>
                    <input type="password" class="txt" name="password" autocomplete="off" id="cOriginalPwd" />
                    <span class="fred" id="cOriginalPwdTips"></span>
                </td>
            </tr>
            <tr>
                <th>设置新密码：</th>
                <td>
                    <input type="password" class="txt" name="password1" autocomplete="off" id="cNewPwd"/>
                    <span class="fred" id="cNewPwdTips"></span>
                </td>
            </tr>
            <tr>
                <th>重复新密码：</th>
                <td>
                    <input type="password" class="txt" name="password2" autocomplete="off" id="cNewPwdAgain"/>
                    <span class="fred" id="cNewPwdAgainTips"></span>
                </td>
            </tr>
            <tr>
                <th>验证码：</th>
                <td>
                    <input type="text" class="txt valid" id="cValid" name="captcha" placeholder="不区分大小写"/>
                    <img id="captcha" src="/captcha" class="s-code-img" alt="验证码" />
                    <a href="javascript:void(0);" class="fred J-change-scode">换一换</a>
                    <span class="fred" id="cValidTips"></span>
                </td>
                <td></td>
            </tr>

            <tr>
                <th></th>
                <td colspan="2">
                    <div id="btnChangePW" class="btn">提 交</div>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
{% block subjavascript %}
    <script type="text/javascript">
        cross.importFile("pageCommonJs", "js");
    </script>
    <script type="text/javascript">
    
    $(function(){

        var captcha = new Captcha();
        
        captcha.bindChangeCaptcha();

        $('#btnChangePW').on("click", function(){

            var $cOriginalPwd = $("#cOriginalPwd");
            var $cNewPwd = $("#cNewPwd");
            var $cNewPwdAgain = $("#cNewPwdAgain");
            var $cValid = $("#cValid");

            var $cOriginalPwdTips = $("#cOriginalPwdTips");
            var $cNewPwdTips = $("#cNewPwdTips");
            var $cNewPwdAgainTips = $("#cNewPwdAgainTips");
            var $cValidTips = $("#cValidTips");

            if ($.trim($cOriginalPwd.val()).length == 0) {
                $cOriginalPwdTips.text("请输入您的密码！").css("color", "#c1111c");
                $cOriginalPwd.afterIcon(vcIconWarnTMP);
                return;
            };

            if ($.trim($cNewPwd.val()).length == 0) {
                $cNewPwdTips.text("请输入您的密码！").css("color", "#c1111c");
                $cNewPwd.afterIcon(vcIconWarnTMP);
                return;
            };

            if ($.trim($cNewPwdAgain.val()).length == 0) {
                $cNewPwdAgainTips.text("请输入您的密码！").css("color", "#c1111c");
                $cNewPwdAgain.afterIcon(vcIconWarnTMP);
                return;
            };

            if (!$cValid.val().length){
                $cValidTips.text("请输入验证码！").css("color", "#c1111c");
                $(".J-change-scode").afterIcon(vcIconWarnTMP);
                return;
            }   

            if ($cOriginalPwdTips.text().length || $cNewPwdTips.text().length || $cNewPwdTips.text().length) {
                return;
            };


            $.ajax({
                cache: false,
                dataType: "json",
                type: "POST",
                url:'/member/password',
                data: $('#setPassword').serialize(),
                error: function(request) {
                    alert("Connection error");
                },
                success: function(res) {

                    var changePwdDialog = $.dialog({
                        title: "通知",
                        content: res.msg,
                        okValue: "关闭",
                        ok: function(){
                            captcha.flashCaptcha($("#captcha"));

                            if (res.code == 0) {
                                location.href = "/?handle=login";
                            };
                        }
                    });

                    changePwdDialog.show();
                }
            });
        });

        $('#cOriginalPwd').passwordInput('#cOriginalPwdTips');
        $('#cNewPwd').passwordInput('#cNewPwdTips');
        $("#cNewPwdAgain").passwordAgain('#cNewPwd', "#cNewPwdAgainTips");

        $("#cValid").on("keyup", function(){
            if($(this).val().length > 0){
                $("#cValidTips").html("");
            }

        });

    });


    </script>
{% endblock %}