/*! cross 2017-11-08 */
/**
 * 充值相关页面
 * @author Young
 * @contacts young@kingjoy.co
 */
/*
 * variable less file, this file is module for button
 * Author: Young
 * important module for the project, if u would like to modify the file, pls contact Young
 * mail: young@kingjoy.co
 */
.charge-table .charge-notpay,
.charge-table .charge-unknown {
  color: #fa2461;
  cursor: pointer;
}
.charge-table .charge-paid {
  color: #0acc0e;
}
.charge-table .charge-num {
  font-weight: bold;
}
.charge-select {
  width: 540px;
  float: left;
  font-size: 14px;
}
.charge-select .charge-box {
  margin-bottom: 40px;
}
.charge-select .charge-box .charge-label {
  color: #2b2c2d;
  display: block;
  padding: 8px 0px;
  border: 1px solid #ccc;
  margin: 0px 20px 10px 0px;
  width: 240px;
  cursor: pointer;
  float: left;
}
.charge-select .charge-box .charge-label input[name="price"] {
  visibility: hidden;
}
.charge-select .charge-box .charge-label .charge-info {
  vertical-align: bottom;
  display: inline-block;
  line-height: 20px;
}
.charge-select .charge-box .charge-label .charge-price {
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}
.charge-select .charge-box .charge-label .charge-diamond {
  display: inline-block;
  width: 100px;
  line-height: 17px;
}
.charge-select .charge-box .charge-label.active {
  background-color: #fa2461;
  color: #fff !important;
}
.charge-select .charge-btnbox {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.charge-select .charge-btnbox #chargePay {
  display: inline-block;
}
.charge-select .charge-tips,
.charge-select .charge-caution {
  color: #ff0000 !important;
  line-height: 18px;
}
.charge-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}
.charge-title .charge-sub-title {
  font-size: 14px;
  color: #fa2461;
  display: inline;
}
.charge-self_ipt {
  margin: 5px 5px;
  width: 100px;
}
.charge-box-hz {
  display: block;
  margin-bottom: 10px;
}
.charge-box-hz label {
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
  margin: 10px 15px 0px 0px;
  font-weight: bold;
}
.charge-box-hz label .charge-img-plat {
  background-image: url('../../../src/img/pay.png');
  width: 171px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
}
.charge-box-hz label .charge-img-plat-hx {
  background-position: 0px 0px;
}
.charge-box-hz label .charge-img-plat-xs {
  background-position: -172px 0px;
}
.charge-box-hz label input {
  margin: 0px;
}
.charge-box-hz label span {
  vertical-align: middle;
  display: inline-block;
  background-size: contain;
  width: 120px;
  height: 40px;
  background-repeat: no-repeat;
  text-indent: -999px;
}
.charge-box-hz label[data-id] span {
  background-image: url('../../../src/img/otherpay.png');
}
.charge-box-hz label[data-id='2'] span {
  background-image: url('../../../src/img/qqpay.jpg');
}
.charge-box-hz label[data-id='4'] span {
  background-image: url('../../../src/img/yinlian.jpg');
}
.charge-box-hz label[data-id='5'] span {
  background-image: url('../../../src/img/alipay.png');
}
.charge-box-hz label[data-id='6'] span {
  background-image: url('../../../src/img/wechat.png');
}
.charge-ad {
  float: right;
  width: 600px;
  height: 300px;
}
.charge-ad img {
  width: 600px;
  height: 300px;
}
