/*! cross 2017-11-08 */
/**
 * @description 首页
 * @author Young
 * @contacts young@kingjoy.co
 */
/*
 * variable less file, this file is module for button
 * Author: Young
 * important module for the project, if u would like to modify the file, pls contact Young
 * mail: young@kingjoy.co
 */
.main-left {
  width: 900px;
  float: left;
}
.main-item {
  margin: 0px 0px 30px 0px;
}
.main-item .main-head {
  position: relative;
}
.main-item .main-head .main-title {
  color: #333;
  line-height: 24px;
}
.main-item .main-head .main-sub {
  position: absolute;
  right: 0px;
  top: 5px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}
.main-item .main-content {
  margin-right: -21px;
  min-height: 145px;
  position: relative;
}
.main-item .main-tips {
  font-size: 16px;
  color: #2b2c2d;
  text-align: center;
  margin-top: 20px;
}
.main-right {
  float: right;
  width: 270px;
}
.main-nav {
  margin-top: 20px;
}
.main-nav h3 {
  margin: 0px !important;
}
.main-nav p {
  line-height: 14px;
  margin-top: 5px;
}
.main-nav .tab-item {
  width: 16%;
}
/* slide show */
.inx-banner .flexslider {
  width: 1200px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  border: 1px solid #aaa;
}
.inx-banner .flexslider .slide-bg {
  display: block;
  width: 1200px;
  height: 300px;
}
.inx-banner .flexslider .slide-bg img {
  width: 1200px;
  height: 300px;
}
.side-block {
  margin-top: 20px;
}
.side-search #searchIpt {
  width: 150px;
}
.side-search #searchIptBtn {
  min-width: auto;
  width: 40px;
  float: right;
  margin: 0px;
}
.side-activity {
  margin-bottom: 30px;
}
.side-activity_block {
  margin-top: 10px;
  display: block;
}
.side-activity_block img {
  display: block;
  width: 270px;
  border-radius: 8px;
}
.side-rank {
  margin: 30px 0px;
}
.side-rank .rank-title {
  color: #333;
  line-height: 24px;
  margin-bottom: 10px;
  display: inline-block;
}
.side-rank .rank-tab {
  display: inline-block;
  margin: 0px 0px 3px 10px;
  position: relative;
  top: 7px;
}
.side-rank .rank-tab li {
  padding: 5px 5px;
  float: left;
  color: #333;
  cursor: pointer;
  margin-right: 5px;
}
.side-rank .rank-tab li.active {
  font-weight: bold;
  background-color: #fa2461;
  color: #fff;
  position: relative;
  border-radius: 15px;
}
.side-rank .rank-content {
  z-index: 10;
  position: relative;
}
.side-rank .rank-content .rank-item {
  border-radius: 10px;
  background-color: #fff;
  font-size: 12px;
  padding: 5px 0px;
  color: #666;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-out;
  perspective: 600px;
  margin-bottom: 1px;
  height: 60px;
}
.side-rank .rank-content .rank-item .rank-avatar {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 60px;
  margin-left: 5px;
}
.side-rank .rank-content .rank-item .rank-item-des {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.side-rank .rank-content .rank-item .rank-item-inner {
  margin-top: 5px;
}
.side-rank .rank-content .rank-item .rank-num {
  display: inline-block;
  vertical-align: middle;
  font-family: "宋体";
  font-style: italic;
  font-size: 30px;
  margin-left: 20px;
  color: #333;
}
.side-rank .rank-content .rank-item .rank-text {
  width: 125px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  color: #333;
  font-size: 14px;
  line-height: 17px;
}
.side-rank .rank-content .rank-item .rank-badge {
  position: absolute;
  top: 11px;
  right: 37px;
  z-index: 5;
}
.side-rank .rank-content .rank-item:hover .personDiv {
  visibility: visible;
  width: 353px;
  transform: rotateY(0deg);
  opacity: 1;
}
.side-rank .rank-content .rank-item:hover {
  background-color: #d4d2d3;
}
.side-rank .rank-content .rank-item .personDiv {
  left: -353px;
  top: -70px;
  display: block !important;
  visibility: hidden;
  width: 0px;
  transition: all 0.2s ease-out;
  transform: rotateY(90deg);
  opacity: 0;
}
.side-rank .rank-more {
  width: 82px;
  height: 28px;
  background-image: url('../../../src/img/index.png');
  background-position: -273px -77px;
  margin: -1px auto 0px auto;
  cursor: pointer;
}
.side-ad {
  margin-top: 40px;
  width: 210px;
  height: 224px;
}
.side-ad .flexslider {
  height: 224px;
  width: 210px;
}
.side-ad .flexslider img {
  height: 224px;
  width: 210px;
}
.side-ad .flexslider .flex-control-nav {
  bottom: -25px;
}
.inx-more-btn {
  background-color: #aaa;
  text-align: center;
  color: #fff;
  width: 200px;
  clear: both;
  font-size: 16px;
  padding: 7px 5px;
  border-radius: 5px;
  margin: 10px auto;
  cursor: pointer;
  display: none;
}
/* 安全邮箱验证首页弹窗*/
.mail-check-wrap {
  background-image: url('../../../src/img/dialog-bg.png');
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: none;
  text-align: center;
}
.mail-check-dialog {
  position: absolute;
  top: 235px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
}
.mail-check-dialog .mail-check-top {
  width: 400px;
  height: 40px;
  background-color: #f9004d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.mail-check-dialog .mail-check-top span {
  color: white;
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
}
.mail-check-dialog .mail-check-close {
  position: absolute;
  top: 2px;
  right: 8px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  padding: 5px;
}
.mail-check-dialog .mail-check-content {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.mail-check-dialog .mail-check-content .mail-dialog-content {
  margin: 25px 0;
}
.mail-check-dialog .mail-check-content img {
  width: 100%;
}
.mail-check-dialog .mail-check-content span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 13px;
}
.mail-check-dialog .mail-check-content .mail-remind-text {
  padding: 0 20px;
  box-sizing: border-box;
}
.mail-check-dialog .mail-check-content button {
  background-color: #f9004d;
  width: 70%;
  color: white;
  font-size: 13px;
  font-weight: bold;
  line-height: 40px;
  margin: 70px 0 40px 0;
  border-radius: 5px;
  cursor: pointer;
}
.mail-check-dialog .mail-check-content button .mail-check-icon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 26px;
  margin-left: -20px;
  margin-right: 10px;
  background-image: url('../../../src/img/mail-check-icon.jpg');
}
.ordDialog img {
  width: 270px;
}
.ordDialog .ordDialogContent h4 {
  font-size: 16px;
  margin: 10px 0px;
}
.ordDialog .ordDialogContent p {
  margin: 10px 0px 0px 0px;
}
.ordDialog .ordDialogBottom {
  margin-top: 20px;
  text-align: center;
}
/*搜索栏*/
.search-block {
  float: right;
}
.search-block a {
  box-sizing: border-box;
}
.search-result {
  font-size: 16px;
  color: #333;
}
.search-result a {
  color: #666;
  text-decoration: underline;
}
.search-result .search-result-em {
  color: #fa2461;
  font-weight: bold;
  font-size: 20px;
}
/*搜索页面*/
#searchList,
#recommendList {
  display: none;
}
/*限制登录*/
.limited-d p {
  text-align: center;
  margin: 10px 0px;
}
.limited-d .limited-btnbox {
  width: 280px;
  margin: 0px auto;
}
.limited-d .limited-btnbox a {
  display: block;
  width: 90px;
}
.limited-table {
  float: left;
}
.limited-table td,
.limited-table th {
  border: 1px solid #eee;
  padding: 10px;
}
.limited-font-i {
  color: #e50080;
}
.limited-table_left {
  margin-right: 15px;
}
.wrapper {
  min-height: 100%;
  position: relative;
}
