/*! cross 2017-11-08 */
.mail-check-live {
  width: 525px;
}
.mail-check-live .needCheck {
  margin-right: 20px;
  margin-left: 16px;
}
.mail-check-live .needCheck,
.mail-check-live .nowCheck {
  display: inline-block;
}
.mail-check-live .needCheck td,
.mail-check-live .nowCheck td {
  border: 2px solid #888;
  height: 35px;
  font-weight: 500;
  width: 115px;
  text-align: center;
}
.mail-check-live .needCheck .needCheck-item,
.mail-check-live .nowCheck .needCheck-item {
  color: red;
}
.mail-check-live .mail-check-live-level {
  margin: 15px 0;
}
.mail-check-live .mail-check-live-level .mail-check-live-level-text {
  margin: 0 10px;
}
.mail-check-live .mail-check-live-level .p-bar {
  display: inline-block;
  width: 70%;
  height: 10px;
  background: #E6E5E2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
}
.mail-check-live .mail-check-live-level .p-bar .progress {
  display: inline-block;
  height: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  vertical-align: top;
}
.mail-check-live .mail-check-live-level .p-bar .progress-l {
  background: red;
  width: 10%;
}
.mail-check-live .mail-check-live-level .p-bar .progress-m {
  background: #ECB43A;
  width: 50%;
}
.mail-check-live .mail-check-live-level .p-bar .progress-h {
  background: green;
  width: 100%;
}
.mail-check-live .mail-warn {
  font-size: 16px;
  width: 330px;
  margin: 0 auto;
  line-height: 20px;
}
.mail-check-live .mail-warn span {
  color: red;
  margin: 0 5px;
  display: none;
}
