/*! cross 2017-11-08 */
/*
 * variable less file, this file is module for button
 * Author: Young
 * important module for the project, if u would like to modify the file, pls contact Young
 * mail: young@kingjoy.co
 */
.noble-table {
  width: 1000px;
  margin: 0px auto 30px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.noble-table tr:first-child td {
  background-color: #e8d9b8;
}
.noble-table tr {
  height: 60px;
  text-align: center;
}
.noble-table tr td {
  border: 1px solid #d0d0d0;
}
.noble-table tr td button {
  margin: 0px auto;
  width: 65px;
}
.noble-table tr td span.noble-table-diamond {
  background-image: url('../../../src/img/header.png');
  background-position: -145px -21px;
  width: 15px;
  height: 12px;
  margin-left: 5px;
  display: inline-block;
}
.noble {
  background-color: #fff;
  padding-bottom: 50px;
}
.noble-sub-banner {
  width: 1002px;
  height: 228px;
  display: block;
  margin: 20px auto;
}
