/*! cross 2017-11-08 */
/**
 * 关于我们及相关页面
 * @author Young
 * @contacts young@kingjoy.co
 */
/*
 * variable less file, this file is module for button
 * Author: Young
 * important module for the project, if u would like to modify the file, pls contact Young
 * mail: young@kingjoy.co
 */
.help {
  position: relative;
}
.help .help-item {
  margin-bottom: 40px;
  position: relative;
}
.help-side {
  float: left;
}
.help-side .help-title {
  font-size: 18px;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  text-indent: -9999px;
  cursor: pointer;
}
.help-side .help-title a {
  display: block;
  text-indent: -9999px;
  height: 40px;
}
.help-side .help-title_join {
  background-image: url('../../../src/img/page/help-join.png');
}
.help-side .help-title_ext {
  background-image: url('../../../src/img/page/help-ext.png');
}
.help-side .help-title_sug {
  background-image: url('../../../src/img/page/help-sug.png');
}
.help-side .help-title_anchor {
  background-image: url('../../../src/img/page/help-anchor.png');
}
.help-side .help-title_user {
  background-image: url('../../../src/img/page/help-user.png');
}
.help-content {
  float: left;
  margin-left: 40px;
  width: 840px;
}
.help-head {
  margin-bottom: 20px;
}
.displayStrenth {
  background-image: url('../../../src/img/page/about-extend.png');
  width: 651px;
  height: 263px;
  padding: 0px;
}
.displaySuggestion .display-item {
  margin-bottom: 10px;
}
.displaySuggestion .display-item label {
  margin-right: 20px;
}
.displaySuggestion .d-help-title {
  margin-right: 10px;
}
.displaySuggestion .d-help-ta {
  width: 450px !important;
}
.finishSuggestion {
  width: 400px;
  color: #3399cc;
  line-height: 1.6em;
  font-size: 14px;
}
.help-qa .help-qa-item {
  padding: 10px 0px;
}
.help-qa .help-qa-item .help-qa-question {
  margin-bottom: 5px;
  color: #333;
}
.help-qa .help-qa-item .help-qa-question .i-q {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../../../src/img/page/help-que.jpg');
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.help-qa .help-qa-item .help-qa-question .help-q {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
}
.help-qa .help-qa-item .help-qa-question .i-a {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../../../src/img/page/help-ans.jpg');
  height: 18px;
  width: 47px;
  cursor: pointer;
}
.help-qa .help-qa-item .help-qa-answer {
  color: #666;
  line-height: 2em;
  display: none;
}
.about .doc {
  margin-bottom: 0px;
}
.about .doc-content {
  margin-top: 0px !important;
}
.about .about-img {
  background-image: url('../../../src/img/page/about.jpg');
  width: 290px;
  height: 835px;
  float: left;
}
.about .about-p {
  width: 860px;
  float: right;
}
.about .about-p p {
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 20px;
}
.state li {
  font-size: 16px;
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
  line-height: 1.8em;
}
.state li.last {
  color: #ff2700;
  border: none;
}
/** 中间页面 **/
.page-tip-img {
  background-image: url('../../../src/img/transfer.png');
  width: 839px;
  height: 360px;
  display: block;
  margin: 50px auto;
  position: relative;
}
.page-tip-img .btn {
  position: absolute;
  top: 240px;
  left: 416px;
}
.page-tip-img .tip-seconds-wrap {
  position: absolute;
  top: 250px;
  left: 566px;
  font-size: 16px;
  font-weight: bold;
}
/*
 * 500
 */
#page-500-wrap,
#page-404-wrap {
  background-color: #FF6F04;
}
#page-500,
#page-404 {
  width: 1000px;
  height: 676px;
  display: block;
}
.page-500-btn {
  display: block;
  position: absolute;
  top: 367px;
  left: 646px;
  width: 160px;
  height: 40px;
}
.page-404-btn {
  display: block;
  position: absolute;
  top: 415px;
  left: 400px;
  width: 160px;
  height: 40px;
}
