@import "../../../../www/style/common.css";
$path :../../../../www/;
.tabs{
      color: white;
      text-align: left;
      font-size: 14px;
      box-sizing: border-box;
      @extend .banSelect;
}

@define-mixin active {
      font-weight: bold;
      box-sizing: border-box;
      border-bottom: 2px solid #f8065d;
}

.purple{
      background-image: url($(path)images/tabbar-bg.png);
      background-repeat: repeat-x;
      background-size: 1px 100%;
      padding-bottom: 1px;
      border-bottom:1px solid #38094e;

      .active{
            @mixin active;
      }

       >ul{
            /*margin-left: 10px;*/
            >li{
                  cursor: pointer;

                  margin: 0 12px;
                  height: 42px;
                  
                  >span{
                        display: inline-block;
                        text-align: center;
                        margin-top: 11px;
                  }
            }
            >li:hover{
                  @mixin active;
            }
      }
}
.white{
      background: #fff;
      /* padding-bottom: 1px;*/
      border-bottom:1px solid #ccc;
      color: #000;
      .active{
            font-weight: bold;
            box-sizing: border-box;
            border-bottom: 4px solid #f8065d;
      }

            >ul{
            /* margin-left: 10px;*/
            >li{
                  cursor: pointer;
                  margin-right:12px;
                  /* height: 42px;*/
                  padding: 0 10px;
                  text-align: center;
                  >span{
                        display: inline-block;
                        text-align: center;
                        margin-top: 11px;
                  }
            }
            >li:hover{
                  /*@mixin active;*/
                   font-weight: bold;
                   box-sizing: border-box;
                   border-bottom: 4px solid #f8065d;
            }
      }
}
