$path :../../../../www/;
.titlePanel{
      color: white;
      text-align: center;
      font-size: 14px;

      padding:11px 0;

      background-image: url($(path)images/tabbar-bg.png);
      background-repeat: repeat-x;
      background-size: 1px 100%;
      
      box-sizing: border-box;
      border-bottom:1px solid #38094e;

      cursor: pointer;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

}