@import "../../../../www/style/common.css";

:global .giftControl-giftRoot{
    /*padding-top: 480px;*/
    /*@extend .clearfix;*/
}

:global .giftControl-giftTool{
    float: left;
    width: 210px;
}

.toolTitle{
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
}

:global .giftControl-toolSelectBox{
    margin-top: 44px;
}

.toolSelectLabel{
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
}

:global .giftControl-selectLabel{
    /*margin-bottom: 11px;*/
}

:global .giftControl-selectForm{

}

.inputContainer{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

:global .giftControl-toolInput{
    /*float: right;*/
    background-color: #3e092f;
    border: 1px solid #f8065d;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.4) ;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    padding: 3px 5px;
    vertical-align: middle;
    width: 190px;
    display: inline-block;
}

:global .giftControl-toolBtnBox{
    float: left;
    margin-top: 15px;
}

.btnPanelActive{
    position: absolute;
    right: 4px;
    top: 4px;
}

.vipGift{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.closeGiftPanel{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}
:global .giftControl-giftPanelContainer{
    position: absolute;
    top: 193px;
    left:256px;
    z-index: 1002;
}

:global .giftControl-selectLabel{
    margin-bottom: 10px;
}

/*@media (min-height: 800px){*/
    /*.giftControl-giftTool{*/
        /*float: none;*/
        /*width: auto;*/
        /*margin-top: 10px;*/
    /*}*/

    /*.giftControl-selectLabel{*/
        /*width: 120px;*/
        /*display: inline-block;*/
        /*vertical-align: middle;*/
        /*margin: 0px;*/
    /*}*/

    /*.giftControl-selectForm{*/
        /*display: inline-block;*/
        /*vertical-align: middle;*/
    /*}*/

    /*.giftControl-toolSelectBox{*/
        /*margin-top: 0px;*/
        /*margin-left: 55px;*/
        /*margin-right: 20px;*/
        /*display: inline-block;*/
        /*vertical-align: middle;*/
    /*}*/

    /*.giftControl-toolBtnBox{*/
        /*float: none;*/
        /*margin: 0px;*/
        /*display: inline-block;*/
        /*vertical-align: middle;*/
    /*}*/
/*}*/
