@import "../../../www/style/common.css";
$path :../../../www/;
/* 遮罩用组件  */
.animationBox{
      
}

/* 飞屏 (外层  主要实现垂直居中 )  */
.flyScreen{
      
      position:absolute;
      width:100%;
      top:5%;
      right:0;

      overflow:hidden;
      z-index:1002;
      
      font-size:90px;
      line-height:120px;
      text-align:right;
      
      color:white;

      @extend .banSelect;
}

/* 飞屏 (内层  主要实现  定位方式改变/ 位移/ 淡出 )  */
.flyScreenElement{
      display:inline-block;
      opacity:0;
      width:100%;
      text-align:left;
      will-change: transform;
      animation:mobile-r-l 20000ms;
      animation-fill-mode: forwards;
      /*animation-timing-function:cubic-bezier(1,0.8,0.9,0.8)*/
}

$flyScreenOfTextHeight:50px;

.riding{
      pointer-events: none;
}

.flyScreenOfText{
      position: absolute;
      width:100%;
      height:0px;
      left:0;
      top:40px;
      z-index:1020;
      @extend .banSelect;
}

.onePart{
      height:$flyScreenOfTextHeight;
      display: inline-block;
      vertical-align: middle;
      color: white;
      font-size: $flyScreenOfTextHeight;
      line-height: $flyScreenOfTextHeight;
}

.oneHref{

      font-size: 108px;
      display: inline-block;

      margin-left: 80px;

      color: white;
      cursor: pointer;
      text-decoration: none;

      border-bottom: 2px solid white;
}

.giftScreen{
      width: 100%;
      height:90%;
      top:10%;
      left:0;
      position: absolute;

      z-index: 1001;
      background-color: red;
}

.FlyScreenOfGiftImg{
      width: 70px;
      height:70px;
}

.em{
      color: #f8065d;
      text-decoration: underline;
}


:global(#FlyScreenOfRiding){
      /*width: 100%;*/
      height: 100%;
      position: absolute;

      top:0px;
      left:0px;

      z-index: 1003;
}

:global(#FlyScreenOfGift){
      /*width: 100%;*/
      height: 100%;
      position: absolute;

      top:0px;
      left:0px;
      z-index: 1002;
}

/*动画绑定用样式*/

/*淡入 ... 淡出 */
:global(.fade-appear) {
      opacity: 0;
}
:global(.fade-appear.fade-appear-active) {
      opacity: 1;
      /*transition: opacity 1000ms ease-in;*/
}
:global(.fade-enter) {
      opacity: 0;
}
:global(.fade-enter.fade-enter-active) {
      opacity: 1;
      /*transition: opacity 1000ms ease-in;*/
}
:global(.fade-leave){
      opacity: 1;
      /*transition: opacity 1000ms ease-in;*/
}
:global(.fade-leave-active){
      opacity: 0;
}

/*动画效果*/

/*从右至左位移（已弃用）*/
@keyframes mobile-r-l{
      0% {
            opacity: 0;
            transform:translateX(0);
            -webkit-transform:translateX(0);
      }
      10%{
            opacity: 1;
      }

      90%{
            opacity: 1;
      }
      100% {
            opacity: 0;
            transform:translateX(-100%);
            -webkit-transform:translateX(-100%);
            display:none;
      }
}
