.selectPanel{
    background:#f8065d ;
    text-align: center;
    border: 1px solid #ff0066;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
 }
.panelTitle{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
}
.panelTitle  span{
    vertical-align: middle;
    font-weight: bold;
}
.panelTitleIcon{
    display: inline-block;
    width: 50px;
    height: 22px;
    background: url("../../../../www/images/gift_vip.png") no-repeat 0px -207px;

}

.selectItemImg{
    margin-right: 10px;
    display: inline-block;
    width:50px;
    height: 22px;
    vertical-align: middle;
    background: url("../../../../www/images/gift_vip.png") no-repeat ;
}
.selectItemImg0{
    background-position:-50px -139px;
}
.selectItemImg1{
    background-position:3px -116px;
}
.selectItemImg2{
    background-position:0px -93px;
}
.selectItemImg3{
    background-position:-50px -46px;
}
.selectItemImg4{
    background-position:0px -140px;
}
.selectItemName{
    margin-right: 10px;
    text-align: left;
    width: 60px;
    display: inline-block;
}