
/* Clear Floats */
.clearfix:before, .clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}


/* 滚动条样式*/
@define-mixin scrollbar $pathType {

    &::-webkit-scrollbar
    {
        width: 12px;
        background: transparent;
    }
        /*定义滚动条轨道 内阴影+圆角*/
    &::-webkit-scrollbar-track
    {
        border-radius: 10px;
         background-image: url($(pathType)images/scroll-bg.png);
        background-repeat: repeat;
    }
        /*定义滑块 内阴影+圆角*/
    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: #f8065d;
    }
}

/*.scrollbar{*/
      /*&::-webkit-scrollbar  */
      /*{  */
            /*width: 12px; */
            /*background: transparent;*/
      /*}  */
      /*!*定义滚动条轨道 内阴影+圆角*!  */
      /*&::-webkit-scrollbar-track  */
      /*{  */
            /*border-radius: 10px;*/
            /*!*background-image: url(../images/scroll-bg.png);*!*/
            /*background-repeat: repeat;*/
      /*}  */
      /*!*定义滑块 内阴影+圆角*!  */
      /*&::-webkit-scrollbar-thumb  */
      /*{  */
            /*border-radius: 10px;  */
            /*background-color: #f8065d;  */
      /*}*/
/*}*/

/* 禁止选中 */
.banSelect{
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}
