.clearfix:before, .clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}

.sliderContainer{
    position: relative;
}

.sliderItem{
    margin-left: 35px;
}

.sliderArray{
    /* width: 14px;*/
    /* height: 24px;*/
    top: 50%;
    position: absolute;
    margin-top: -18px;
    cursor: pointer;
}

.sliderArrayLeft{
    composes: sliderArray;
    left: 10px;
}

.sliderArrayRight{
    composes: sliderArray;
    right: 10px;
}