$path :../../../../www/;
/**
 * description:左侧边栏排列图标样式
 * author: Merci
 * date:2017/2/8
 */
.siderItemIcon{
    width: 30px;
    height: 26px;
    margin-left: 10px;
    background: url($(path)images/sider.png) no-repeat 0 0;
}
.sider_item_home{
    background-position: 0 0;
}
.sider_item_bag{
    background-position: 0 -27px;
}
.sider_item_shoppingcar{
    background-position: 0 -55px;
}
.sider_item_mail{
    background-position: 0 -82px;
}
.sider_item_userInfo{
    background-position: 0 -109px;
}
.sider_item_activity{
    background-position: 0 -141px;
}
.sider_item_game{
    background-position: 0 -227px;
}
.sider_item_app{
    background-position: 0 -256px;
}
        
.sliderIcon{
    background-image: url($(path)images/sider.png);
    width: 14px;
    height: 24px;
    cursor: pointer;
}

.sliderArrayLeft{
    composes: sliderIcon;
    background-position: -116px -171px;
}

.sliderArrayRight{
    composes: sliderIcon;
    background-position: -132px -171px;
}

.charge{
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background-image: url($(path)images/upButtonIcon.png);
    background-size:cover;
    margin-right: 4px; 
}
/*显示钻石的图标*/
.diamondIcon{
    display: inline-block;
    width: 20px;
    height: 13px;
    background: url($(path)images/header.png) no-repeat -14px -72px;
    vertical-align: middle;
    margin-left:3px;
}
/* 显示性别的图标*/
.genderIcon{
    width:16px;
    height: 16px;
    display: inline-block;
    background:url($(path)images/header.png) no-repeat;
    vertical-align: middle;
    margin-right: 3px;
}
.man{
    background-position: 0 -92px;
}
.woman{
    background-position: -19px -92px;
}